@model IEnumerable<Assignment.Models.Room>

@{
    ViewBag.Title = "newIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Name</h2>

<p>
    @if (User.Identity.IsAuthenticated)
    {
        if (User.IsInRole("Admin"))
        {
            @Html.ActionLink("Create New", "Create")
        }
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Hotel.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Floor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PricePerNight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoomCapacity)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Hotel.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Floor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PricePerNight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoomCapacity)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.id }) |
            @Html.ActionLink("Book This Room", "../bookings/Create", new { id = item.id }) |
            @if (User.Identity.IsAuthenticated)
            {
                if (User.IsInRole("Admin"))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.id })
                }
            }|

            @if (User.Identity.IsAuthenticated)
            {
                if (User.IsInRole("Admin"))
                {
                    @Html.ActionLink("Delete", "Delete", new { id = item.id })
                }
            }
        </td>
    </tr>
}

</table>
